ACHEI QUE ERA DATAFRAME

In [1]:
import pandas as pd

In [22]:
def cToF(tempC): #converter celsius em fahrenheit
    return tempC * 1.8 + 32

In [23]:
cToF(50)

122.0

In [29]:
paises = [['África do Sul', -20.1, 50],
          ['Brasil', -14, 44.8],
          ['Canadá', -63, 45],
          ['Cuba', 0.6, 38.8],
          ['Espanha', -30, 47.2],
          ['Islândia', -37.9, 30.5],
          ['Nepal', -26, 46],
          ['Rússia', -67.8, 45.4],
          ['Síria', -1, 49.7],
          ['Vietnã', -6.1, 42.7]]

In [32]:

df_paises = pd.DataFrame(paises, columns=['pais', 'min_temp_c', 'max_temp_c'])

In [34]:
df_paises

            pais  min_temp_c  max_temp_c
0  África do Sul       -20.1        50.0
1         Brasil       -14.0        44.8
2         Canadá       -63.0        45.0
3           Cuba         0.6        38.8
4        Espanha       -30.0        47.2
5       Islândia       -37.9        30.5
6          Nepal       -26.0        46.0
7         Rússia       -67.8        45.4
8          Síria        -1.0        49.7
9         Vietnã        -6.1        42.7